<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tapisirisi">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TapisIrisi"
        android:usesCleartextTraffic="true">
        <service
            android:name=".ServiceImpl.propriete.deleteProprieteServiceImpl"
            android:enabled="true"
            android:exported="true"></service>

        <service
            android:name=".ServiceImpl.UserMotif.UserMotifServiceImpl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ServiceImpl.motif.MotifServiceImpl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ServiceImpl.propriete.PropeiterServiceImpl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ServiceImpl.motif.AddMotifService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ServiceImpl.UserMotif.FindByImageService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".UI.utilUiOpenCv.OpenCVCameraActivity" />
        <activity android:name=".UI.Admin.Ajout_Prop" />
        <activity android:name=".UI.utilUiOpenCv.HistoriqueMotifDetailsActivity" />
        <activity android:name=".UI.utilUiOpenCv.HistoriqueListActivity" />
        <activity android:name=".UI.Register.Register" />
        <activity android:name=".UI.Admin.Admin" />
        <activity android:name=".UI.Main.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.Admin.Ajouter" />
        <activity android:name=".UI.Admin.Modifier" />
        <activity android:name=".UI.Admin.ModifierMotif" />
        <activity android:name=".UI.Login.Login"/>
    </application>

</manifest>